h1 {
    background-color: rgb(83, 75, 75);
    position: sticky;
    padding: 15px 15px;
    margin-top: 0;
    margin: 0px;
    text-align: center;
    background-image: radial-gradient(circle at center, rgb(0, 152, 240), rgb(233, 33, 206));
    color: rgb(49, 68, 68);
}

body {
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: radial-gradient(circle at center, rgb(0, 152, 240), rgb(233, 33, 206));
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-navbar {
    background-image: radial-gradient(circle at center, rgb(0, 152, 240), rgb(233, 33, 206));
    overflow: hidden;
    border-radius: 30px;
}
  
  /* Style the links inside the navigation bar */
li {
    display: inline-flex;
    color: #643838;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 30px;
}



a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.main-navbar li:hover {
    background-color: rgb(20, 88, 233);
    color: black;
}
  
  /* Add a color to the active/current link */
.main-navbar a:active{
    background-color: #1fc7dd;
    color: white;
}


.upload-button {
    display: inline-block;
    text-align: justify;
    padding: 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(29, 15, 112);
    border-radius: 20px;
}

.back-to-my-images {
    display: inline-block;
    text-align: justify;
    margin-top: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(29, 15, 112);
    border-radius: 20px;
}

.profile-info {
    display: flexbox;
    text-align: center;
    margin: auto;
}

.profile-table {
    display: flexbox;
    color: white;
    background-color: rgb(32, 5, 95);
    text-align: justify;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.trow {
    color: white;
    background-color: rgb(32, 5, 95);
    text-align: justify;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.edit-links {
    display: flexbox;
    text-align: center;
    margin: auto;
}
