{% extends "home.html" %}
{% block content %}
<h2>Profile info</h2>
<div class="profile-info">
    <table style="border: 2px black solid; background-color: rgb(208, 202, 226); border-radius: 5px; margin: 3px; padding: 5px;">
        <thead style="border: 2px black solid;">
            <tr>
                <th colspan="2">Your profile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ user.first_name}} {{user.last_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>DOB </td>
                <td>{{ user.profile.dob }}</td>
            </tr>
            <tr>
                <td>Location </td>
                <td>{{ user.profile.location }}</td>
            </tr>
            <tr>
                <td>Mobile </td>
                <td>{{ user.profile.mobile }}</td>
            </tr>
            <tr>
                <td>Bio </td>
                <td>{{ user.profile.user_desc }}</td>
            </tr>
            <tr>
                <td>Interests </td>
                <td>{{ user.profile.interests }}</td>
            </tr>
            <tr>
                <td>Date joined</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            <tr>
                <td>Last login</td>
                <td>{{ user.last_login }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a href="{% url 'edit-info' %}">Edit Account Info</a>
    <br>
    <a href="{% url 'edit-profile' %}">Edit Profile</a>
    <br>
    <a href="{% url 'change-password' %}">Change Password</a>
</div>
{% endblock %}