{% extends "home.html" %}
{% block content %}
<div class="profile-info">
<h2>Profile info</h2>
    <table class="profile-table">
        <tbody class="trow">
            <tr class="trow">
                <td>Username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr class="trow">
                <td>Name</td>
                <td>{{ user.first_name}} {{user.last_name }}</td>
            </tr>
            <tr class="trow">
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr class="trow">
                <td>DOB </td>
                <td>{{ user.profile.dob }}</td>
            </tr>
            <tr class="trow">
                <td>Location </td>
                <td>{{ user.profile.location }}</td>
            </tr>
            <tr class="trow">
                <td>Mobile </td>
                <td>{{ user.profile.mobile }}</td>
            </tr>
            <tr class="trow">
                <td>Bio </td>
                <td>{{ user.profile.user_desc }}</td>
            </tr>
            <tr class="trow">
                <td>Interests </td>
                <td>{{ user.profile.interests }}</td>
            </tr>
            <tr class="trow">
                <td>Date joined</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            <tr class="trow">
                <td>Last login</td>
                <td>{{ user.last_login }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <div class="edit-links">
    <a href="{% url 'edit-info' %}">Edit Account Info</a>
    <a href="{% url 'edit-profile' %}">Edit Profile</a>
    <a href="{% url 'change-password' %}">Change Password</a>
    </div>
</div>
{% endblock %}